 body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}

.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;    
}

.wrapper > div{
    background: lightgrey;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: white;
}
