html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    height: 350px;
    background-color: white;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
}

@media(min-width:720px){
    .container_profiles{
	display: flex;
	justify-content: center;
    }
}

.container_profiles div{
    padding-right: 70px;
    padding-left: 70px;
}

.text{
    text-align: center;
    font-family: monospace;
    font-size: 22px;
}

.icon:hover{
    opacity: 0.6;
}
